# OS-Game-Of-Life
# Build outputs
*.bin
*.o
*.xz
*.elf

# Compilation output
binutils-2.42
build-binutils
gcc-13.2.0
*.xz
*.elf

# vscode config
.vscode
gcc-13.2.0
build-binutils
binutils-2.42

# DEFAUCHY - RIVIERE | 2026
